body,html {
    margin: 0;
    height: 100%;
}
h2{
    text-align: center;
}

#elevator {
    width:100%;
    display: flex;
    position: relative;  
}

#escape-room {
    float:left;
    display:block;
    width:85%;
    position: relative;  
}

#escape-room img {
    width:100%;
}

 #controls {
    height:100%!important;
    background:gainsboro;
    width:15%;
    float:right;
}


#choose-floor {
    margin:100px auto;
    width:50%;
    padding: 40px 0;
    border:10px groove gray;
}

#choose-floor button {
    border-radius:50%;
    background-color:white;
    width:50px;
    height:50px;
    padding:5px;
    font-size:1em;
    display:block;
    margin:5px auto;
}

#choose-floor button:hover {
    background-color:yellow;
}

#popup {
    position:absolute;
    z-index:100;
    left:0;
    top:0;
}

#popup img {
    z-index:1000;
}